/* Navigations
----------------------------------------------------------------------------- */
.navbar-default {
  background: transparent;
  border-color: #2f4050;
}

.navbar-static-side {
  position: absolute;
  z-index: 2001;
  width: 220px;
}

.navbar-static-side {
  transition: all .4s;
}

.nav-header {
  padding: 33px 25px;


}