.page-top {
	padding: 40px 0;
}
/* Call to action
---------------------------------- */
.call-to-action {
	padding: 10px 25px;
	text-align: center;
}
.call-to-action .btn {
	margin: 10px 5px;
}
.call-to-action .btn.btn-lg {
	margin-top: 15px;
}

.box-style-1 i {
	font-size: 90px;
	margin: 15px 0 5px;
	text-align: center;
}
